:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  font-weight: 500;
  color: #1f1a15;
  background-color: #fbf9f3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fbf9f3;
}

#root {
  min-height: 100vh;
}

button {
  border: none;
  background: none;
  font-family: inherit;
}
